<script src="//maps.google.com/maps/api/js?key=AIzaSyCp5ZLMmxEH6dtxWB8Ni20RWLMZIDuthsE"></script>
<label id="zone_dots"></label>
  <div id="basic_map" style='height: 400px;'></div>

<script>
$( document ).ready(function() {
    console.log( "ready!" );
    handler = Gmaps.build('Google');
	handler.buildMap({
		internal: {id: 'basic_map'},
		provider: {
			center: new google.maps.LatLng(-33.453703,-70.633799),
			zoom: 13
		}
	});










	
	$("#zone_dots").text("Aqui van los puntos");
});
</script>