<div id="h">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 centered">
        <h1>HOLA<br/>Bienvenido.</h1>
        <div class="mtb">
<!--           <form role="form" action="" method="post" enctype="plain"> 
            <input type="tel" name="usrtel" class="subscribe-input" placeholder="Ejemplo: 0056937461928" required>
            <button class='btn btn-conf btn-green' type="submit">Donde está mi pedido?</button>
          </form> -->
        </div><!--/mt-->
		<% if employee_signed_in? %>
		<h6><%= link_to "Live Map", pages_livemap_path %></h6>
		<% else %>
		<h6><%= link_to "Iniciar Sesión", new_employee_session_path %></h6>
		<% end %>
      </div>
    </div><!--/row-->
  </div><!--/container-->
</div><!-- /H -->