<style>
	.portfolio-item {
	    margin-bottom: 25px;
	}
</style>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
		    <h1 class="page-header">Creación de una nueva Zona </h1>

		</div>
	</div>

	<div class="row">

		<div class="col-md-8">
			<div id="new_zone_map" style='height: 300px;'></div>
		</div>

		<div class="col-md-4">
			<h3>Datos de la Zona:</h3>
		</div>
	</div>
</div>




<script>
	document.addEventListener("turbolinks:load",function(){

	if ($("#new_zone_map").length > 0){

		$.getScript("//maps.google.com/maps/api/js?key=AIzaSyCp5ZLMmxEH6dtxWB8Ni20RWLMZIDuthsE").success(function(){

			$.getScript("//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js").success(function(){

				$.getScript("//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js").success(function(){
					initMap();
					

					function initMap(){
						var infoWindow;

						var mapita = new google.maps.Map(document.getElementById('new_zone_map'), {
							zoom: 13,
							center: {lat: -33.453703, lng: -70.633799}
						});

					}

				});

			});

		});
	}
});
</script>